h1, h2, h3 {
	margin: 25px 0 15px 0;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 150%;
}

a {
	text-decoration: none;
}

p {
	margin: 10px 0;
}

html, body {
	height: 100%;
}

body {
	background-color: #cbf4ce;
}


.dark {
	background-color: #303833;
	color: white;
}


#container {
	min-height: 100%;
	min-width: 650px;
}

#footless-content {
	padding-bottom: 80px;
}


header, footer {
	background-color: #303833;
	color: white;
	height: 80px;
}

header #logo {
	float: left;
	margin: 20px 0 0 20px;
	font-size: 230%;
	font-weight: bold;
}

header #logo a {
	color: white;
}

header #logo img {
	height: 35px;
}

header nav {
	float: right;
	margin: 30px 15px 0 0;
}

header nav a {
	color: white;
}

header nav a:hover {
	color: #f95f00;
}

header nav a.active {
	color: #ff1000;
}

header nav li {
	display: inline-block;
	padding-right: 20px; 
	font-size: 140%;
}


main {
	overflow: hidden;
}


footer {
	text-align: center;
	margin-top: -80px;
	line-height: 80px;
}

/*
footer p {
	padding-top: 30px;
}
*/
